<!DOCTYPE html>
<html>
<head>
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">
    <title>Inteligencias Multiples</title>
</head>

<body onload="tokenExists()" style="opacity:0;">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.js"></script>
    <div id="wrapper" class="animate">
        <nav class="navbar navbar-fixed-top navbar-expand-xl navbar-dark bg-darkn animate" role="navigation">
          <a class="navbar-brand Title" href="http://localhost:5002/dashboard" id="6193ef47864700f0411845d1"><img src="../../dist/images/Circular PNG.png" alt="Logo"> INTELIGENCIAS MULTIPLES</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            
            <ul class="navbar-nav ml-md-auto d-md-flex">
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:5002/dashboard">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
            <ul class="navbar-nav ml-md-4 d-md-flex">
              <li class="nav-item">
                <button class="btn btn-primary" onclick="downloadInfo()"> Descargar-Reporte</button>
              </li>
            </ul>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Administración
                <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li><a href="http://localhost:5002/registrant/registration">Registros</a></li>
                  <li><a href="#">Preguntas</a></li>
                  <li><a href="#">Talleres</a></li>
                  <li><a href="#">Administradores</a></li>
                </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Inscripciones
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Registro Talleres</a></li>
                  <li><a href="#">Cursos de Verano</a></li>
                  <li><a href="#">Padres, Cuidadores y Tutores</a></li>
                  <li><a href="#">Salud Emocional</a></li>
                </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Instrumentos
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="http://localhost:5002/forms/non-functional/crianzaPositiva" onclick="">Crianza Positiva</a></li>
                <li><a href="http://localhost:5002/forms/non-functional/intelMulti">Inteligencias Multiples</a></li>
                <li><a href="http://localhost:5002/forms/non-functional/lideresComunitarios">Lideres Comunitarios</a></li>
                <li><a href="http://localhost:5002/forms/non-functional/ninosResilientes">Niños Resilientes</a></li>
              </ul>
            </div>
          </div>         
        </nav>
    </div> 

    <div class="container mt-2">
        <div class="alert alert-success alert-dismissible" id="alertSuccess">
          Descarga <strong>exitosa!</strong>
        </div>
    </div>
    <div class="container mt-2">
        <div class="alert alert-danger alert-dismissible" id="alertDanger">
          Descarga <strong>Fallida.</strong>
        </div>
     </div>

    <div class="container">
        <form>
            <table width="50%" align="center">
                <tr>
                    <td>
                        <div class="form-group">
                            <br><br>
                            <p style="text-align: justify;">
                                Responde a cada afirmación el grado en el que es cierto en tu caso. Recuerda que no hay respuestas correctas o incorrectas, 
                                pues cada quien tiene derecho a tener su opinión. Te pedimos que contestes lo más sincero posible con las siguientes 
                                puntuaciones según lo que tu creas:<br><br>
    
                                1= Nunca<br>
                                2= Casi nunca<br>
                                3= A veces<br>
                                4= Casi Siempre<br>
                                5= Siempre
                            </p>
                            <br><br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fb0f689d50cef6715f28e" class="questions">1. Disfruto mucho leer libros, revistas u otros textos</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ1" id="idq1" value="1" required>
                                <label class="form-check-label" for="idq1">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ1" id="idq1" value="2">
                                <label class="form-check-label" for="idq1">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ1" id="idq1" value="3">
                                <label class="form-check-label" for="idq1">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ1" id="idq1" value="4">
                                <label class="form-check-label" for="idq1">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ1" id="idq1" value="5">
                                <label class="form-check-label" for="idq1">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbaab89d50cef6715f2a6" class="questions">2. Me pregunto el porqué de las cosas y busco aclararlas</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ2" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ2" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ2" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ2" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ2" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbcb189d50cef6715f2be" class="questions">3. Recuerdo mejor la información cuando uso dibujos y gráficas</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ3" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ3" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ3" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ3" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ3" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbe9a89d50cef6715f2d6" class="questions">4. Me resulta fácil hacer nuevos amigos y amigas</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ4" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ4" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ4" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ4" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ4" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fc03f89d50cef6715f2eb" class="questions">5. Me hago preguntas sobre los valores y creencias de las personas</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ5" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ5" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ5" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ5" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ5" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbc6d89d50cef6715f2bb" class="questions">6. Muevo mucho las manos y hago otros movimientos con el cuerpo mientras hablo con alguien</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ6" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ6" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ6" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ6" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ6" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbdf589d50cef6715f2d3" class="questions">7. Cuando puedo, prefiero estudiar al aire libre</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ7" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ7" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ7" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ7" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ7" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbcf989d50cef6715f2c1" class="questions">8. Me agrada diseñar modelos o hacer maquetas a escala</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ8" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ8" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ8" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ8" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ8" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fb10a89d50cef6715f291" class="questions">9. Me gusta escribir o imaginar pequeñas historias, poesías o artículos</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ9" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ9" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ9" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ9" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ9" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fc01b89d50cef6715f2e8" class="questions">10. Si estoy enojado(a) o contento(a) generalmente sé por qué</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ10" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ10" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ10" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ10" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ10" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbc3489d50cef6715f2b8" class="questions">11. Me gusta hacer ejercicio</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ11" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ11" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ11" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ11" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ11" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fb99989d50cef6715f29a" class="questions">12. Cuando escucho música puedo decir qué instrumentos se están tocando</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ12" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ12" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ12" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ12" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ12" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbaf489d50cef6715f2a9" class="questions">13. Puedo hacer cálculos mentalmente</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ13" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ13" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ13" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ13" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ13" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbdd289d50cef6715f2d0" class="questions">14. Me es fácil notar similitudes y diferencias que hay entre plantas</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ14" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ14" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ14" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ14" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ14" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbbe489d50cef6715f2b5" class="questions">15. Me gusta practicar deportes o actividades físicas</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ15" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ15" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ15" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ15" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ15" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fb9d289d50cef6715f29d" class="questions">16. Cuando escucho música, puedo decir si hay una nota que no está afinada con las demás</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ16" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ16" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ16" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ16" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ16" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbeba89d50cef6715f2d9" class="questions">17. Me doy cuenta rápidamente si una persona está triste, feliz o enojada</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ17" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ17" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ17" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ17" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ17" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fb13b89d50cef6715f294" class="questions">18. Mis amigos dicen que tengo facilidad para explicar muchos temas</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ18" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ18" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ18" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ18" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ18" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti"id="619fbdad89d50cef6715f2cd" class="questions">19. Me gusta sembrar plantas</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ19" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ19" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ19" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ19" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ19" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbbbc89d50cef6715f2b2" class="questions">20. Me gusta trabajar haciendo cosas con mis manos</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ20" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ20" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ20" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ20" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ20" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbf3789d50cef6715f2df" class="questions">21. Me siento más cómodo cuando convivo y hago mis actividades con otras personas</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ21" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ21" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ21" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ21" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ21" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fb15989d50cef6715f297" class="questions">22. Soy hábil para recordar listas largas de palabras</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ22" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ22" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ22" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ22" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ22" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbb1b89d50cef6715f2ac" class="questions">23. Descubro fallas lógicas en lo que las personas dicen o escriben</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ23" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ23" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ23" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ23" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ23" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fba0389d50cef6715f2a0" class="questions">24. Puedo recordar fácilmente las melodías de las canciones</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ24" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ24" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ24" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ24" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ24" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbff089d50cef6715f2e5" class="questions">25. Es fácil para mí describir mis sentimientos</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ25" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ25" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ25" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ25" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ25" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fba5189d50cef6715f2a3" class="questions">26. La gente dice que tengo "buen oído" para la música o el canto</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ26" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ26" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ26" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ26" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ26" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbfc589d50cef6715f2e2" class="questions">27. Me acepto tal y como soy</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ27" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ27" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ27" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ27" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ27" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbd8a89d50cef6715f2ca" class="questions">28. Me gusta estar en contacto con la naturaleza</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ28" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ28" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ28" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ28" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ28" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbf0d89d50cef6715f2dc" class="questions">29. Prefiero los deportes que se juegan en equipo como el fútbol o el vóleibol</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ29" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ29" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ29" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ29" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ29" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbd2989d50cef6715f2c4" class="questions">30. Tengo facilidad para hacer buenos dibujos</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ30" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ30" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ30" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ30" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ30" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbb4289d50cef6715f2af" class="questions">31. Disfruto resolviendo problemas matemáticos y acertijos</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ31" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ31" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ31" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ31" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ31" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1IntelMulti" id="619fbd4889d50cef6715f2c7" class="questions">32. Me gusta desarmar un artefacto y luego armarlo tal como estaba</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ32" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ32" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ32" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ32" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ32" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <a data-toggel="modal" href="https://www.fsanfelipe.org.mx/AvisodePrivacidad.pdf">Leer Aviso de Privacidad</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label>He leído el Aviso de privacidad y lo acepto</label>
                            <input type="checkbox" id="myCheck" name="privacy" class='aviso' required>
                        </div>
                    </td>
                </tr>
            </table>
          </form>
          <div style="text-align: center;" class="container">
            <button class="btn btn-primary">Enviar</button>
         </div><br><br><br><br>
    </div> 
    <script defer src="/public/routes.js"></script>
    <script defer src="/public/registrants.js"></script>
    <script defer src="/public/login.js"></script>
</body>
</html>