<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">
    <script defer src="../dist/js/popper.min.js"></script>
    <title>Crianza Positiva</title>
</head>


<body onload="tokenExists()" style="opacity:0;">
    
    <%-include("Navbar.ejs"); %>
    <div class="container">
        <form>
            <table width="50%" align="center">
                <tr>
                    <td>
                        <div class="form-group">
                            <br><br>
                            <p style="text-align: justify;">
                                Lee cuidadosamente cada enunciado y selecciona una opción de respuesta de acuerdo con la escala de valoración. A continuación, se te presenta la escala de valoración con el significado de cada uno de los números:<br><br>
    
                                1= Total Desacuerdo<br>
                                2= En Desacuerdo<br>
                                3= Ni de acuerdo ni en desacuerdo<br>
                                4= De acuerdo<br>
                                5= Muy de Acuerdo<br><br>

                                Recuerda que todas las respuestas son válidas, no existen respuestas buenas o malas, te pedimos que respondas lo más honesto posible
                            </p>
                            <br><br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q1lidComun" id="61d3c4a9000153abf7bd005d" class="questions">1. Tengo problemas para imponer disciplina en mi hijo</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ1" id="idq1" value="5" required>
                                <label class="form-check-label" for="idq1">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ1" id="idq1" value="4">
                                <label class="form-check-label" for="idq1">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ1" id="idq1" value="3">
                                <label class="form-check-label" for="idq1">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ1" id="idq1" value="2">
                                <label class="form-check-label" for="idq1">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ1" id="idq1" value="1">
                                <label class="form-check-label" for="idq1">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q2lidComun" id="61d3cb6b000153abf7bd007b" class="questions">2. Quiero a mi hijo tal y como es</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ2" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ2" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ2" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ2" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ2" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q3lidComun" id="61d3c82a000153abf7bd006c" class="questions">3. Los padres deben proteger a sus hijos de aquellas cosas que pueden hacerles infelices</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ3" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ3" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ3" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ3" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ3" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q4lidComun" id="61d467d5c4d57818df4e3f1b" class="questions">4. Mis hijos me proporcionan grandes satisfacciones</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ4" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ4" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ4" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ4" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ4" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q5lidComun" id="61d4698ac4d57818df4e3f2a" class="questions">5. Mi hijo me cuenta cosas de él y de sus amigos</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ5" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ5" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ5" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ5" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ5" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q6lidComun" id="61d46b5bc4d57818df4e3f42" class="questions">6. Las madres deben trabajar sólo en caso de necesidad</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ6" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ6" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ6" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ6" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ6" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q7lidComun" id="61d395b7b2e53c66d1f15e0f" class="questions">7. En el proceso de crianza me he sentido solo</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ7" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ7" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ7" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ7" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ7" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q8lidComun" id="61d46d17c4d57818df4e3f48" class="questions">8. No he tenido problemas con mi hijo</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ8" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ8" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ8" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ8" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ8" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q9lidComun" id="61d46af7c4d57818df4e3f3c" class="questions">9. Para una mujer tener una carrera estimulante es tan importante como el ser buena madre</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ9" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ9" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ9" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ9" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ9" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q10lidComun" id="61d3c427000153abf7bd005a" class="questions">10. Me preocupa mucho el dinero</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ10" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ10" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ10" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ10" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ10" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q11lidComun" id="61d3c894000153abf7bd006f" class="questions">11. Los padres deberían controlar siempre qué clase de amigos tienen sus hijos</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ11" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ11" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ11" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ11" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ11" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q12lidComun" id="61d3cbb1000153abf7bd007e" class="questions">12. Me siento muy cerca de mi hijo</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ12" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ12" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ12" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ12" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ12" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q13lidComun" id="61d3c540000153abf7bd0060" class="questions">13. Cedo en algunas cosas con mi hijo para evitar una rabieta o berrinche</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ13" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ13" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ13" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ13" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ13" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q14lidComun" id="61d4682ac4d57818df4e3f1e" class="questions">14. Me pregunto si hice bien en tener hijos</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ14" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ14" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ14" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ14" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ14" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q15lidComun" id="61d469d9c4d57818df4e3f2d" class="questions">15. Cuando mi hijo está molesto por algo, me lo dice</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ15" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ15" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ15" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ15" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ15" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q16lidComun" id="61d46cd0c4d57818df4e3f45" class="questions">16. La única responsabilidad del hombre es dar seguridad económica a sus hijos</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ16" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ16" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ16" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ16" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ16" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q17lidComun" id="61d46db4c4d57818df4e3f4b" class="questions">17. No me he sentido molesto por lo que mi hijo dice o hace</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ17" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ17" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ17" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ17" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ17" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q18lidComun" id="61d3951fb2e53c66d1f15e0c" class="questions">18. Mi pareja y yo compartimos las tareas domésticas</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ18" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ18" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ18" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ18" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ18" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q19lidComun"id="61d46e07c4d57818df4e3f4e" class="questions">19. Mi hijo no retrasa lo que tiene que hacer</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ19" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ19" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ19" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ19" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ19" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q20lidComun" id="61d3c5a0000153abf7bd0063" class="questions">20. A menudo pierdo la paciencia con mi hijo</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ20" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ20" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ20" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ20" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ20" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q21lidComun" id="61d46868c4d57818df4e3f21" class="questions">21. Debería hacer muchas otras cosas en vez de perder el tiempo con mi hijo</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ21" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ21" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ21" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ21" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ21" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q22lidComun" id="61d46a0ec4d57818df4e3f30" class="questions">22. Si tengo que decir "no" le explico a mi hijo por qué</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ22" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ22" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ22" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ22" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ22" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q23lidComun" id="61d46b27c4d57818df4e3f3f" class="questions">23. El papá debe ayudar a cuidar a los hijos</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ23" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ23" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ23" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ23" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ23" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q24lidComun" id="61d3c6a3000153abf7bd0066" class="questions">24. Me cuesta decir "no" a mi hijo/label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ24" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ24" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ24" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ24" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ24" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q25lidComun" id="61d3c905000153abf7bd0072" class="questions">25. Los adolescentes y los niños, no pueden decidir por sí mismos sobre cosas como la escuela en la que estudiarán o las amistades que tienen</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ25" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ25" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ25" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ25" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ25" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q26lidComun" id="61d3cbdf000153abf7bd0081" class="questions">26. Me preocupo por los deportes y por otras actividades de mi hijo</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ26" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ26" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ26" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ26" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ26" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q27lidComun" id="61d468f5c4d57818df4e3f24" class="questions">27. Mis sentimientos sobre la paternidad o maternidad cambian día a día</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ27" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ27" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ27" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ27" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ27" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q28lidComun" id="61d46a3ec4d57818df4e3f33" class="questions">28. Creo que puedo hablar con mi hijo a su mismo nivel</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ28" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ28" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ28" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ28" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ28" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q29lidComun" id="61d3cc45000153abf7bd0084" class="questions">29. Es responsabilidad de los padres proteger a sus hijos del peligro</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ29" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ29" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ29" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ29" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ29" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q30lidComun" id="61d46e7ec4d57818df4e3f51" class="questions">30. No me preocupo por mi hijo</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ30" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ30" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ30" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ30" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ30" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q31lidComun" id="61d46a68c4d57818df4e3f36" class="questions">31. Cuando mi hijo tiene algún problema, me lo comenta</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ31" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ31" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ31" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ31" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ31" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q32lidComun" id="61d3c940000153abf7bd0075" class="questions">32. No puedo aguantar la idea de que mi hijo crezca</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ32" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ32" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ32" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ32" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ32" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q33lidComun" id="61d3c728000153abf7bd0069" class="questions">33. Mi hijo es más difícil de educar que la mayoría de los niños</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ33" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ33" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ33" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ33" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ33" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="q34lidComun" id="61d3ccbc000153abf7bd0087" class="questions">34. Creo que hay un gran distanciamiento entre mi hijo y yo</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ34" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ34" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ34" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ34" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ34" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                  <td>
                      <div class="form-group">
                          <label for="q35lidComun" id="61d4693cc4d57818df4e3f27" class="questions">35. Ser padre no me satisface tanto como pensaba</label>
                      </div>
                  </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ35" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ35" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ35" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ35" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ35" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                  <td>
                      <div class="form-group">
                          <label for="q36lidComun" id="61d46a8dc4d57818df4e3f39" class="questions">36. Es mejor razonar con los niños que decirles lo que deben hacer</label>
                      </div>
                  </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ36" id="idq2" value="1" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ36" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ36" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ36" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ36" id="idq2" value="5">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                  <td>
                      <div class="form-group">
                          <label for="q37lidComun" id="61d3c9d3000153abf7bd0078" class="questions">37. Me cuesta mucho dar independencia a mi hijo</label>
                      </div>
                  </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ37" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ37" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ37" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ37" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ37" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                  <td>
                      <div class="form-group">
                          <label for="q38lidComun" id="61d3cd37000153abf7bd008a" class="questions">38. Rara vez tengo tiempo de estar con mi hijo</label>
                      </div>
                  </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group answers">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ38" id="idq2" value="5" required>
                                <label class="form-check-label" for="idq2">1</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ38" id="idq2" value="4">
                                <label class="form-check-label" for="idq2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ38" id="idq2" value="3">
                                <label class="form-check-label" for="idq2">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ38" id="idq2" value="2">
                                <label class="form-check-label" for="idq2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="answersQ38" id="idq2" value="1">
                                <label class="form-check-label" for="idq2">5</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <a data-toggel="modal" href="https://www.fsanfelipe.org.mx/AvisodePrivacidad.pdf">Leer Aviso de Privacidad</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label>He leído el Aviso de privacidad y lo acepto</label>
                            <input type="checkbox" id="myCheck" name="privacy" class='aviso' required>
                        </div>
                    </td>
                </tr>
            </table>
          </form>
          <div style="text-align: center;" class="container">
            <button class="btn btn-form px-3" value="Enviar">Enviar</button>
         </div><br><br><br><br>
    </div>  
    <script defer src="/public/routes.js"></script>
    <script defer src="/public/registrants.js"></script>
    <script defer src="/public/login.js"></script>
</body>

</html>
