<!DOCTYPE html>
<html>
<head>
    <!-- <link href="../dist/css/bootstrapnew.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">
    <script defer src="../dist/js/popper.min.js"></script>
    <title>Dashboard</title>
</head>


<body onload="tokenExists()" style="opacity:0;">
    
    <%-include("Navbar.ejs"); %>
      
    <script defer src="/public/routes.js"></script>
    <script defer src="/public/registrants.js"></script>
    <script defer src="/public/login.js"></script>
</body>

</html>
